* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f5f5;
  color: #222;
}

/* GENERAL */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  background: #0f172a;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fbbf24;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu a {
  color: #fff;
  font-weight: 500;
}

/* HERO */
.hero {
  background: #020617;
  color: #fff;
  padding: 80px 0;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.hero img {
  width: 100%;
  border-radius: 15px;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #cbd5f5;
}

.btn {
  background: #fbbf24;
  color: #000;
  padding: 14px 30px;
  border-radius: 8px;
  font-weight: bold;
}

/* FEATURES */
.features {
  padding: 70px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* GALLERY */
.gallery {
  background: #e5e7eb;
  padding: 70px 0;
  text-align: center;
}

.gallery h2 {
  margin-bottom: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
  height: 250px;
  object-fit: cover;
}

/* FOOTER */
.footer {
  background: #020617;
  color: #fff;
  text-align: center;
  padding: 25px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
